.box{
    width:500px;
    height:150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid rgb(20, 49, 117); */
}
.inputBox{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.inputBox label{
    margin-left: 1px;
    text-align: start;
    font-weight: 500;
}
.inputBox input{
    border:2px solid rgb(53, 72, 124);
    width:100px;
    height:20px;
    /* box-shadow: 2px 2px 10px 1px rgb(66, 66, 130); */
    border-radius: 3px;
}
.selectBox p{
font-weight: 600;
margin-right: 5px;
}
.selectBox select{
    border:2px solid rgb(49, 77, 137);
    width:80px;
    height:25px;
    border-radius: 3px;
}