.usercard-container{
    width:300px;
    height:300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#img{
    width:180px;
    height:210px;
}
#para{
    font-weight: bolder;
    font-size: larger;
}